@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron pokeStyle">
    <h1>PokeReviews</h1>
    <p class="lead">PokeReviews is a resouce for trainers to note the diffrences in pokeballs and other tools.</p>
    <p><a href="https://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9_Ball" class="btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row shiftRight">
    <div class="col-md-4 thumbnail inversStyle">
        <h2>What Kind Of Item?</h2>
        <h4>
            Easily creat Categoties to organise the diffent items you and other trainers review. 
        </h4>
        <div class="buttonOneLocal">
            <p><a class="btn-lg" href="http://localhost:62229/Categories/Index">Here</a></p>
        </div>
    </div>
    <div class="col-md-4 thumbnail inversStyle">
        <h2>Review devices</h2>
        <h4>Give Reviews of devices you have use in the field on your way to the Eliet Four.</h4>
        <div class="buttonTwoLocal">
            <p><a class="btn-lg" href="http://localhost:62229/Reviews/Index">Here</a></p>
        </div>
    </div>
</div>